In [10]:
import pandas as pd
#import warnings
#warnings.filterwarnings(action='ignore')
%cd C:\Users\Amy.LiuPathak\Python\PennX

C:\Users\Amy.LiuPathak\Python\PennX

In [54]:
jan_yellow = pd.read_parquet('data/yellow_tripdata_2022-01.parquet', engine='fastparquet')
jan_green = pd.read_parquet('data/green_tripdata_2022-01.parquet', engine='fastparquet')
jan_fhv = pd.read_parquet('data/fhv_tripdata_2022-01.parquet', engine='fastparquet')
jan_fhvhv = pd.read_parquet('data/fhvhv_tripdata_2022-01.parquet', engine='fastparquet')

In [53]:
list(jan_yellow.columns.values)

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge',
 'airport_fee']

In [34]:
list(jan_green.columns.values)

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge',
 'airport_fee']

In [18]:
list(jan_fhv.columns.values)

['dispatching_base_num',
 'pickup_datetime',
 'dropOff_datetime',
 'PUlocationID',
 'DOlocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [49]:
list(jan_fhvhv.columns.values)

['hvfhs_license_num',
 'dispatching_base_num',
 'originating_base_num',
 'request_datetime',
 'on_scene_datetime',
 'pickup_datetime',
 'dropoff_datetime',
 'PULocationID',
 'DOLocationID',
 'trip_miles',
 'trip_time',
 'base_passenger_fare',
 'tolls',
 'bcf',
 'sales_tax',
 'congestion_surcharge',
 'airport_fee',
 'tips',
 'driver_pay',
 'shared_request_flag',
 'shared_match_flag',
 'access_a_ride_flag',
 'wav_request_flag',
 'wav_match_flag']

In [43]:
jan_yellow_zones = jan_yellow[jan_yellow['PULocationID' or 'DOLocationID' ].isin([186,164,100])]
jan_yellow_zones

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
62,2,2022-01-01 00:29:45,2022-01-01 00:42:02,4.0,1.74,1.0,N,164,137,1,9.50,0.5,0.5,2.66,0.0,0.3,15.96,2.5,0.0
105,2,2022-01-01 00:09:50,2022-01-01 00:13:40,5.0,0.56,1.0,N,186,68,2,4.50,0.5,0.5,0.00,0.0,0.3,8.30,2.5,0.0
126,2,2022-01-01 00:54:54,2022-01-01 01:14:37,2.0,3.73,1.0,N,164,239,1,16.00,0.5,0.5,3.96,0.0,0.3,23.76,2.5,0.0
151,2,2022-01-01 00:10:42,2022-01-01 00:27:19,3.0,1.50,1.0,N,164,237,1,11.50,0.5,0.5,4.59,0.0,0.3,19.89,2.5,0.0
165,2,2022-01-01 00:31:05,2022-01-01 00:41:25,1.0,1.40,1.0,N,164,113,2,8.00,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2463871,1,2022-01-31 23:25:54,2022-01-31 23:41:23,NaN,3.20,NaN,None,186,141,0,13.00,0.5,0.5,2.52,0.0,0.3,19.32,NaN,NaN
2463899,2,2022-01-31 23:31:00,2022-01-31 23:43:00,NaN,1.67,NaN,None,164,50,0,9.36,0.0,0.5,1.35,0.0,0.3,14.01,NaN,NaN
2463906,2,2022-01-31 23:40:00,2022-01-31 23:50:00,NaN,2.02,NaN,None,164,79,0,9.82,0.0,0.5,2.80,0.0,0.3,15.92,NaN,NaN
2463909,2,2022-01-31 23:21:08,2022-01-31 23:42:09,NaN,4.53,NaN,None,186,145,0,9.44,0.0,0.5,5.17,0.0,0.3,17.91,NaN,NaN
2463930,2,2022-01-31 23:46:00,2022-02-01 00:13:00,NaN,8.94,NaN,None,186,181,0,25.48,0.0,0.5,6.28,0.0,0.3,35.06,NaN,NaN

In [52]:
jan_green_zones = jan_green[jan_green['PULocationID' or 'DOLocationID' ].isin([186,164,100])]
jan_green_zones

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
27497,1,2022-01-15 22:42:52,2022-01-15 23:07:25,Y,1.0,186,74,1.0,0.0,28.2,0.0,0.5,0.0,0.00,NaN,0.3,29.00,1.0,1.0,0.0
37975,1,2022-01-21 16:12:41,2022-01-21 17:04:50,N,1.0,100,108,1.0,0.0,41.2,0.0,0.5,0.0,6.55,NaN,0.3,48.55,1.0,1.0,0.0

In [50]:
jan_fhv_zones = jan_fhv[jan_fhv['PUlocationID' or 'DOlocationID' ].isin([186,164,100])]
jan_fhv_zones

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
765,B03160,2022-01-01 00:11:00,2022-01-01 00:19:00,164.0,100.0,NaN,B03404
787,B03160,2022-01-01 00:52:00,2022-01-01 01:01:00,186.0,224.0,NaN,B03404
796,B03160,2022-01-01 00:12:00,2022-01-01 00:24:00,186.0,229.0,NaN,B03404
1120,B01087,2022-01-01 01:46:43,2022-01-01 02:11:12,164.0,259.0,NaN,B01087
1641,B03160,2022-01-01 01:46:00,2022-01-01 01:55:00,164.0,211.0,NaN,B03404
...,...,...,...,...,...,...,...
1142876,B03380,2022-01-31 22:42:57,2022-01-31 23:02:55,186.0,45.0,NaN,B03380
1142894,B03380,2022-01-31 22:57:01,2022-01-31 23:04:55,164.0,107.0,NaN,B03380
1142895,B03380,2022-01-31 22:06:03,2022-01-31 22:17:57,100.0,234.0,NaN,B03380
1143662,B03284,2022-01-31 23:31:33,2022-02-01 00:09:03,186.0,81.0,NaN,
1143679,B03380,2022-01-31 23:31:49,2022-01-31 23:43:06,164.0,107.0,NaN,B03380

In [51]:
jan_fhvhv_zones = jan_fhvhv[jan_fhvhv['PULocationID' or 'DOLcationID' ].isin([186,164,100])]
jan_fhvhv_zones

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
57,HV0003,B03404,B03404,2022-01-01 00:25:08,2022-01-01 00:25:22,2022-01-01 00:27:22,2022-01-01 00:36:26,164,234,0.740,...,1.03,2.75,0.0,0.00,9.03,N,N,,N,N
157,HV0003,B03404,B03404,2022-01-01 00:43:02,2022-01-01 00:47:41,2022-01-01 00:48:34,2022-01-01 01:04:10,164,148,2.930,...,2.05,2.75,0.0,0.00,11.51,N,N,,N,N
166,HV0003,B03404,B03404,2022-01-01 00:32:28,2022-01-01 00:33:35,2022-01-01 00:35:35,2022-01-01 00:51:07,164,125,1.940,...,1.07,2.75,0.0,0.00,11.55,N,N,,N,N
220,HV0003,B03404,B03404,2022-01-01 00:26:29,2022-01-01 00:26:40,2022-01-01 00:28:04,2022-01-01 00:48:16,164,265,5.110,...,0.00,0.00,0.0,0.00,18.23,N,N,,N,N
254,HV0005,B03406,None,2022-01-01 00:11:14,NaT,2022-01-01 00:12:03,2022-01-01 00:27:49,164,161,1.303,...,1.44,2.75,0.0,3.14,9.37,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14751441,HV0003,B03404,B03404,2022-01-31 23:01:34,2022-01-31 23:07:33,2022-01-31 23:09:01,2022-01-31 23:23:38,186,87,3.480,...,1.50,2.75,0.0,0.00,14.43,N,N,,N,N
14751468,HV0003,B03404,B03404,2022-01-31 23:17:24,2022-01-31 23:26:09,2022-01-31 23:27:15,2022-01-31 23:33:10,186,170,1.330,...,0.70,2.75,0.0,0.00,6.39,N,N,,N,N
14751469,HV0003,B03404,B03404,2022-01-31 23:30:40,2022-01-31 23:33:29,2022-01-31 23:35:29,2022-01-31 23:42:38,164,90,1.150,...,0.81,2.75,0.0,0.00,6.70,N,N,,N,N
14751567,HV0003,B03404,B03404,2022-01-31 23:41:09,2022-01-31 23:44:50,2022-01-31 23:46:50,2022-01-31 23:59:22,186,231,2.650,...,1.60,2.75,0.0,0.00,13.97,N,N,,N,N
14751571,HV0003,B03404,B03404,2022-01-31 22:52:51,2022-01-31 23:01:28,2022-01-31 23:01:43,2022-01-31 23:31:09,186,7,5.650,...,3.14,2.75,0.0,0.00,23.76,N,N,,N,N